  <body>
    <div id="wrapper">
      <div class="header">
        <h1><i class="far fa-hand-point-right"></i>Check a Poker Hand<i class="far fa-hand-point-left"></i></h1>
      </div>

      <div class="contents">
        <%= form_tag("/check", method: "get") do %>
          <input id="input_field" type="text" name="cards" value="<%= @card %>">
          <input id="submit_button" type="submit" name="commit" value="Check">
        <% end %>
        <div class="result">
          <div class="error">
            <% if flash[:notice] %>
            <p><%= flash[:notice].html_safe %><br>5つの半角英字大文字のスート（S,H,D,C）と半角数字（1〜13）の組み合わせを半角スペース区切りで入力してください。<br>(例：S1 H3 D9 C13 S11)</p>
            <% end %>
          </div>
          <div class="yaku"><%= @result %></div>
        </div>
      </div>

      <div class="footer">
        <small>©Copyright 2020 pokerhands All Rights Reserved.</small>
      </div>

    </div>
  </body>